/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Main Styling */

html,body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* space between the lines */
    line-height: 1.7em;
}

a{
    color:#333;
    /* eliminate the unnderline */
    text-decoration:none;
}

h1,h2,h3{
    padding-bottom:20px;
}

/* p tag has by default a margin */
p{
    margin:10px 0;
}

/* Utilities classes */

.container{
    /* will push everything to the middle */
    margin:auto;
    /* to be responsive */
    max-width:1100px;
    /* it allways shows the background no go outside of it */
    overflow: auto;
    padding:0 20px;
}

.text-primary{
    color:#f6c088;
}

.lead{
    font-size:20px;
}

.bg-dark{
    background:#333;
    color:#FFF;   
}
.bg-light{
    background:#f4f4f4;
    color:#333;
}

.bg-primary{
    background:#f6c088;
    color:#333;
}

.clr{
    clear:both;
}

.btn{
    display:inline-block;
    font-size:18px;
    color:white;
    background:#333;
    padding: 13px 20px;
    border:none;
    cursor: pointer;
}

.btn:hover {
    background:#f6c088;
    color:#333;
}

.btn-light{
    background:#f4f4f4;
    color:#333;
}



#navbar{
    /* navbar background */
    background:#333;
    color:white;
    /* background shows no matter what */
    overflow: auto;
    

}
.logo{
    float:left;
    padding:20px;
}

 #navbar a {
     /* every link its gonna be white */
     color:white;
 }


 /* Father */
 #navbar ul{
     /* put display:block in order to use padding */
     text-decoration:none;
     list-style: none;
     float:right;
 }
 #navbar ul li{
     /* this float will change the order of the elements in the list */
    float:left;
 }

 /* every elements for the list */
 #navbar ul li a{  
     display:block;
     padding: 20px;
     text-align:center;
 }

 #navbar ul li a:hover, 
/* al ser mi Home clase current este se mantendra con  Hover */
 #navbar ul li a.current  {
        background:#444;
        color:#f6c088;
 }

 /* ShowCase */
 #showcase{
     background-image:url("../image_resources/showcase.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 600px;
     
 }
 #showcase .showcase-content{
     color:white;
     text-align:center;
     /* push everything down */
     padding-top:170px;
 }

#showcase .showcase-content h1{
    font-size:60px;
    line-height:1.2em;
        
 }

 #showcase .showcase-content p{
     padding-bottom:20px;
     line-height: 1.7em;
 }

 /* Home Info */
 #home-info{
     height:400px;
 }

 #home-info .info-img{
     float:left;
     width: 50%;
     background-image: url('../image_resources/photo-1.jpg');
     background-repeat: no-repeat;
    /* the picture take the whole space */
     min-height: 100%;
 }
 #home-info .info-content{
     float:right;
     width: 50%;
     min-height: 100%;
     text-align:center;
     padding: 50px 30px;
     /* it's anything go outside there's not scroll bar, important*/
     overflow: hidden;
 }

 #home-info .info-content p{
     padding-bottom:30px;
 }

 /* Features */
#features .box{
    /* it will put as a line  the items */
    float:left;
    /* because are 3boxes, 100% is the whole row */
    width:33.3%;
    padding:50px;
    text-align:center;
 }

 .box i{
     margin-bottom:10px;
 }

 #main-footer{
     text-align: center;
     background:#444;
     color:white;
     padding:20px;
 }